<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DbMode" value="Server"/>
	</appSettings>
	<connectionStrings>
		<add name="Cloud" connectionString="Data Source=MoneyBook.mssql.somee.com;Initial Catalog=MoneyBook;packet size=4096;user id=mb_user;pwd=TriceHazelDrums#1037;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
		<add name="Server" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=MoneyBook;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
		<add name="File" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Edsel\Documents\Projects\MoneyBook\MoneyBookTools\Database\MoneyBook.mdf;Integrated Security=True"/>
	</connectionStrings>
</configuration>