<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DbMode" value="Server"/>
	</appSettings>
	<connectionStrings>
		<add name="Server" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=money_book;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
		<add name="File" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Edsel\Documents\Projects\MoneyBook\MoneyBookTools\Database\money_book.mdf;Integrated Security=True"/>
	</connectionStrings>
</configuration>